

body {
  background: rgb(20, 20, 20);
  margin: 0;
  width: 100%;
  height: 90%;
  overflow: hidden;
}

#game-root {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#game-root > div {
  overflow-x: hidden; 
    overflow-y: hidden;
}

canvas {
  overflow-x: hidden; 
  overflow-y: hidden;
}

#place-button {
  position: fixed;
  bottom: 0;
  left: calc(50% - 50px);
  width: 100%;
  background: #000;
  color: #fff;
}
