
body {
  background: #4cd4ff;
  margin: 0;
  width: 100%;
  height: 90%;
  overflow: hidden;
}

/* ------ Game Container ------ */

#game-root {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#game-root > div {
  overflow-x: hidden; 
    overflow-y: hidden;
}

/* ------ Canvas ------ */

canvas {
  overflow-x: hidden; 
  overflow-y: hidden;
}

#canvas-container {
  transition: all 0.5s ease-in-out;
}

#canvas-container.active {
  filter: blur(3.5px);
}

/* ------ User Interface ------ */

/* Top */
#game-logo {
  position: fixed;
  top: 1em;
  width: 9em;
  left: calc(50% - 10.25em);
  transition: all 0.25s ease-in;
}

#game-logo.menu {
  width: 20em;
  left: calc(50% - 10em);
  top: calc(50% - 15em);
}

#turn-card {
  position: fixed;
  top: 0.125em;
  width: 12em;
  left: calc(50% - 2.25em);
  transition: all 0.25s ease-in;
}

#turn-card.hidden {
  top: -50%;
}

/* Bottom */

#place-button {
  position: fixed;
  bottom: 0em;
  font-size: 1em;
  width: 12.25em;
  left: calc(50% - 9.25em);
  transition: all 0.25s ease-in;
}

#place-button.hidden {
  bottom: -50%;
}

#exit-game {
  position: fixed;
  bottom: 0.6em;
  font-size: 1em;
  width: 10em;
  left: calc(50% + 0.5em);
  transition: all .25s ease-in-out;
}

#exit-game.hidden {
  bottom: -50%;
}

/* Exit Game Modal */

#exit-modal {
  position: absolute;
  top: calc(50% - 10em);
  left: calc(50% - 15em);
  width: 30em;

}

#exit-modal-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 110%;
  transition: all .5s ease-in-out;
}

#exit-modal-container.active {
  top: 0;
  
}

#exit-confirm {
  position: absolute;
  top: calc(50% - 1em);
  left: calc(50% - 8em);
  width: 10em;
}

#exit-cancel {
  position: absolute;
  top: calc(50% - 0.5em);
  left: calc(50% + 1em);
  width: 8em;
}

/* Game Win/Lose Modal */

#end-modal {
  position: absolute;
  top: calc(50% - 10em);
  left: calc(50% - 15em);
  width: 30em;

}

#endgame-modal-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 110%;
  transition: all .5s ease-in-out;
}

#endgame-modal-container.active {
  top: 0;
}

#end-confirm {
  position: absolute;
  top: calc(50% - 1em);
  left: calc(50% - 8em);
  width: 10em;
}

#retry-game {
  position: absolute;
  top: calc(50% - 1em);
  left: calc(50% + 0.25em);
  width: 9.5em;
}

#end-winner {
  position: absolute;
  width: 22em;
  top: calc(50% - 9em);
  left: calc(50% - 11em);

}

/* Start Menu Buttons */

#singleplay-btn, #twoplayer-btn {
  position: fixed;
  top: calc(50% - 7em);
  left: calc(50% - 11.25em);
  transition: all .35s ease-in-out;
  width: 22.5em;
  height: 7em;
  overflow: hidden;
}

#singleplay-btn > img, #twoplayer-btn > img {
  margin-top: -3em;
  position: fixed;
}

#singleplay-btn {
  top: calc(50% - 3em);
}

#twoplayer-btn {
  top: calc(50% + 3em);
}

#singleplay-btn.hidden, #twoplayer-btn.hidden {
  left: -150%;
}

/* Project Credit (Shoutout to myself for making this abomination) */

#project-credit {
  position: fixed;
  bottom: 1em;
  width: 18em;
  left: calc(50% - 9em);
}

#project-credit.hidden {
  bottom: -100%;
}